NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SB_SERVICE_ROLE_KEY=
NEXT_PUBLIC_PROJECT_SLUG=cursor-cto-hack
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AUTH_RATE_LIMIT_SECRET=
ds_api=
DS_API=
DEEPSEEK_MODEL=deepseek-chat
CF_ACC=
CF_API=
